// Fonts
$font-lato: "Lato", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

// Colors
$white: #fff;
$black: #000;
$purple: #8d81ac;
$gray: #848e97;
$accent-gray: #323232;
$accent-purple: #635c73;
$edit-color: #24292f;
$about-fork-color: #a291a5;

// Breakpoints
$min-media-mobile: 320px;
$middle-media-mobile: 400px;
$max-media-mobile: 480px;
$min-media-tablet: 481px;
$middle-media-tablet: 540px;
$media-tablet: 768px;
$max-media-tablet: 992px;
$min-media-desktop: 993px;
$max-media-desktop: 1200px;
